**Q.1) Convert given hrs & mins in second**

In [1]:
hr=int(input('Enter hours: '))
min=int(input('Enter minutes: '))
sec= (hr*3600)+(min*60)
print(hr,'hours and',min,'minutes are total',sec,'seconds.')

Enter hours: 2
Enter minutes: 30
2 hours and 30 minutes are total 9000 seconds.

**Q.2) Write code to find the average of ‘n’ numbers entered by the user to function avg ( ).**

In [37]:
n=int(input('Enter number: '))
sum=0
for n in range(1, n+1):
  sum+=n
avg= sum/n
print('Average is: ',avg)

Enter number: 20
Average is:  10.5

**Q.3) Print Pattern.**

In [26]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

**Q.5) Create class**

In [18]:
class Maths:
  def __init__(self):
    self.a=int(input('Enter first number: '))
    self.b=int(input('Enter second number: '))
  def add(self):
    print('Addition is: ',self.a+self.b)
  def sub(self):
    print('Subtraction is: ',self.a-self.b)
  def multi(self):
    print('Multiplication is: ',self.a*self.b)
  def div(self):
    print('Multiplication is: ',self.a/self.b)

In [19]:
x=Maths()

Enter first number: 50
Enter second number: 5

In [20]:
x.add()

Addition is:  55

In [21]:
x.sub()

Subtraction is:  45

In [22]:
x.multi()

Multiplication is:  250

In [23]:
x.div()

Multiplication is:  10.0

**Q.8) Print pattern.**

In [40]:
a='13567'
for i in range(0,len(a)):
    print(a[i]*(i+1))

1
33
555
6666
77777

**Q.10) Create menu driven code**

In [44]:
a=int(input('Enter first number: '))
b=int(input('Enter second number: '))
m=input('Enter choice: + | - | * | / : ')
if m=='+':
  print('Addition is: ',a+b)
elif m=='-':
  print('Subtraction is: ',a-b)
elif m=='*':
  print('Multiplication is: ',a*b)
elif m=='/':
  print('Division is: ',a/b)
else:
  print('Enter valid choice.')

Enter first number: 10
Enter second number: 5
Enter choice: + | - | * | / : /
Division is:  2.0

**Q.7) Convert Paise in Rupees & Paises**

In [47]:
p=int(input('Enter paise: '))
a=0
if p>100:
  b= p%100
  c= p//100
  print(p,'Paise equals to',c,'Rupees and',b,'Paise.')
else:
  print(p,'Paise')

Enter paise: 250
250 Paise equals to 2 Rupees and 50 Paise.